docs/n8n-workflows/password-reset-workflow.json
{
  "name": "Password Reset Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "password-reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-password-reset",
      "name": "Webhook - Password Reset",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "password-reset"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-exists",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-email",
      "name": "Validate Email Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.email }}",
        "subject": "Recuperaci칩n de Contrase침a - DebtTracker",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Inter', Arial, sans-serif; background-color: #F0F8FF; margin: 0; padding: 20px; }\n    .container { max-width: 600px; margin: 0 auto; background-color: white; border-radius: 12px; padding: 40px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    .header { text-align: center; margin-bottom: 30px; }\n    .logo { color: #A0C4FF; font-size: 32px; font-weight: bold; }\n    h1 { color: #333; font-size: 24px; margin-bottom: 20px; }\n    p { color: #666; line-height: 1.6; margin-bottom: 20px; }\n    .button { display: inline-block; background-color: #A0C4FF; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: 600; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 30px; color: #999; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"logo\">游눯 DebtTracker</div>\n    </div>\n    <h1>Recuperaci칩n de Contrase침a</h1>\n    <p>Hola,</p>\n    <p>Recibimos una solicitud para restablecer la contrase침a de tu cuenta en DebtTracker.</p>\n    <p>Este correo confirma que tu solicitud fue procesada correctamente.</p>\n    <p><strong>Pr칩ximos pasos:</strong> Recibir치s un segundo correo de Firebase con el enlace para restablecer tu contrase침a.</p>\n    <p><strong>Nota:</strong> El enlace expirar치 en 1 hora por razones de seguridad.</p>\n    <p>Si no solicitaste este cambio, puedes ignorar este correo de manera segura.</p>\n    <div class=\"footer\">\n      <p>춸 2024 DebtTracker - Gesti칩n de Deudas</p>\n      <p>Este es un correo autom치tico, por favor no respondas a este mensaje.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-reset-email",
      "name": "Send Password Reset Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIALS_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Email de recuperaci칩n enviado exitosamente\", \"email\": $json.email } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Email no proporcionado o inv치lido\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook - Password Reset": {
      "main": [
        [
          {
            "node": "Validate Email Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email Exists": {
      "main": [
        [
          {
            "node": "Send Password Reset Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Password Reset Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-13T19:30:00.000Z",
  "versionId": "1"
}
